@import '../../styles/media.scss';

.pokemon-item{
    text-transform: capitalize;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191919;
    border-radius: 6px;
    margin: 3px;
    padding-bottom: 10px;
    transition: 1s;

    @include mobile-only {
        width: 154px;
    }

    &:hover{
        transform: scale(1.3);
        z-index: 2;
        box-shadow: 2px 2px 2px #000;
    }

    h3{
        font-size: 30px;
        margin-bottom: 7px;
        font-weight: 300;
        color: #fff7f4;

        @include mobile-only {
            font-size: 25px;
        }
        
    }

    .pokemon-box{
        background:  #fff7f4;  
        width: 90%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pokemon-sizes{
            margin-bottom: 10px;
            display: flex;
            flex-direction: normal;
            margin-top: 10px;

            h4{
                font-size: 12px;
                font-weight: 400;

                &:first-child{
                    border-right: 1px solid;
                    padding-right: 5px;
                    margin-right: 5px;
                }
            }
        }

        .pokemon-abilities{
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100px;

            h4{
                margin-bottom: 5px;
                font-weight: 400;
                font-size: 20px;

                @include mobile-only {
                    font-size: 16px;
                }
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 15px;

                h5{
                    margin-right: 3px;
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        .pokemon-forms{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h4{
                margin-bottom: 5px;
                font-weight: 400;
                font-size: 20px;

                @include mobile-only {
                    font-size: 16px;
                }
            }
        }
    }
}

.pokemon-loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: transparent;

    img{
        width: 25px;
    }
}